<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/header :: head">
</head>
<body>

<div th:insert="blocks/header :: header">
</div>

<div class="ui centered grid" style="padding-top: 5rem;">

    <div class="row">
        <div class="two wide column"></div>
        <div class="eight wide column">
            <h3 class="ui top attached header">
                Расписание эфира по дням
            </h3>
            <div class="ui attached segment">
                <table class="ui fixed single line table">
                    <thead>
                    <tr>
                        <th style="width: 18%">День недели</th>
                        <th style="width: 10%" >Время</th>
                        <th style="width: 58%">Программа</th>
                        <th>Управление</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="el : ${schedule}">
                        <td th:text="${el.day}">September 14, 2013</td>
                        <td th:text="${el.getprogram_time()}">jhlilk22@yahoo.com</td>
                        <td th:text="${el.getProgram().iterator().next().getName()}"></td>
                        <td>
                            <div class="ui small basic icon buttons">
                                <a th:href="'/schedule/edit/'+${el.id}">
                                    <button class="ui green basic small button"><i class="edit icon"></i></button>
                                </a>
                                <form th:action="'/schedule/delete/'+${el.id}" method="post">
                                    <button type="submit" class="ui red basic very small button"><i class="remove icon"></i>
                                    </button>
                                </form>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="four wide column">

            <div class="ui segment">
                <h4 class="ui horizontal divider header">
                    <i class="dollar icon"></i>
                    Новая программа в эфире
                </h4>

                <div class="ui form error">
                    <form method="post" action="/schedule/add">
                        <div class="field">
                            <input type="text" name="day" placeholder="Введите день недели">
                        </div>
                        <div class="field">
                            <div class="ui calendar" id="no_ampm">
                                <div class="ui input left icon">
                                    <i class="time icon"></i>
                                    <input type="text" name="time" placeholder="Выберите время">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="program_id">
                                <i class="dropdown icon"></i>
                                <div class="default text">Укажите программу</div>
                                <div class="menu">
                                    <div th:each="pr : ${programs}" class="item" th:text="${pr.name}" th:attr="data-value=${pr.id}" ></div>
                                </div>
                            </div>
                        </div>
                        <div class="ui error message"></div>

                        <button type="submit" class="ui submit button">Добавить</button>


                    </form>
                </div>


                <script>

                    $('#no_ampm')
                        .calendar({
                            type: 'time',
                            ampm: false
                        })
                    ;

                    $('.ui.form')
                        .form({
                            fields: {
                                name: {
                                    identifier: 'company_name',
                                    rules: [
                                        {
                                            type: 'empty',
                                            prompt: 'Пожалуйста, введите название компании'
                                        }
                                    ]
                                },
                                product: {
                                    identifier: 'product',
                                    rules: [
                                        {
                                            type: 'empty',
                                            prompt: 'Пожалуйста, введите рекламируемый продукт'
                                        }
                                    ]
                                },
                                pos: {
                                    identifier: 'agent',
                                    rules: [
                                        {
                                            type: 'empty',
                                            prompt: 'Пожалуйста, укажите рекламного представителя'
                                        },

                                    ]
                                }
                            }
                        });
                </script>

            </div>

        </div>
        <div class="two wide column"></div>
    </div>
</div>

<div th:replace="blocks/header :: footer">
</div>

</body>
</html>